.sobre{
    text-align: center;
    padding: 1.5rem;
}
.sobre__titulo{
    color: #8d8d8d;
    font-family: Pacifico, cursive;
    font-size: 2.8rem;
}
.sobre__descripcion{
    color: #595959;
    font-size: 1.75rem;
    font-weight: 100;
}