/* Bannner*/
.banner__titulo{
    width: 100%;
    color: #fdfdfd;
    font-family: 'Pacifico', 'cur';
    font-size: 5.04rem;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 70%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    transform: translate(-50%, -50%);
}
.banner__imagen{
    width: 100%;
    height: calc(100vh - 72px);
}